$bleusombre: #0F1025;
$bleunuit: #161C40;
$rose: #F2889B;
$light: #F2F0CE;
$violet: #4e508d;

html, body{
  margin: 0;
  padding: 0;
  background: #0F1025;
  overflow-x: hidden;
  font-family: 'Azo Sans', sans-serif;
}
/*
HEADER & FOOTER
 */
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: $bleusombre;
  padding: 10px;

  img {
    width: 50px;
  }

  .links {
    justify-items: flex-end;
    a {
      color: $rose;
      margin: 0 15px;
      font-family: 'Azo Sans', sans-serif;
      font-weight: lighter;
      text-decoration: none;
      transition: 0.1s;
      transition-delay: 0.1s;
    }
    a:hover {
      color: #be6675;
      transition: 0.1s;
      transition-delay: 0.1s;
    }
    .connexion{
      border: 1px solid #F2F0CE;
      color: #F2F0CE;
      padding: 2px 5px;
      cursor: pointer;
      transition: 0.2s;
      transition-delay: 0.5ms;
    }
    .connexion:hover{
      border: 1px solid $light;
      background: $light;
      color: $bleusombre;
      transition: 0.2s;
      transition-delay: 0.5ms;
    }
  }
}
#footer {
  position: inherit;
  bottom: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: $bleunuit;
  padding: 10px 15px;

  .footer-morphee{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .footer-morphee img{
    width: 150px;
  }
  .footer-morphee h2{
    font-family: 'Azo Sans', sans-serif;
    font-weight: bold;
    font-size: 3.5vw;
    color: $violet;
    letter-spacing: 1.5vw;
  }
  .social-icons{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    width: 12%;
  }
  .social-icons a{
    padding: 5px;
  }
}
/*
PAGE D'ACCUEIL
 */
#home {
  position: relative;
  background-color:$bleusombre;
}
.home-content {
  padding: 0;
  color: $violet;

  .home-first-content {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 495px;
    height: 48.8vw;
    z-index: 1;
  }
  .home-first-content h1{
    width: 100%;
    font-family: 'Azo Sans', sans-serif;
    font-weight: bold;
    font-size: 10vw;
    color: $violet;
    text-align: left;
    letter-spacing: 2.5vw;
  }

  .home-first-content h5{
    font-size: 20px;
    text-align: justify;
  }
  .cloud1{
    opacity: 0.1;
    max-width: 1000px;
    width: 60%;
    z-index: 0;
    position: absolute;
    right: -50px;
    top: 406px;
    animation: moveCloud 40s linear infinite;
    -webkit-animation: moveCloud 40s linear infinite;
    -moz-animation: moveCloud 40s linear infinite;
  }
  .cloud2{
    opacity: 0.1;
    max-width: 700px;
    width: 50%;
    z-index: 0;
    position: absolute;
    left: -10%;
    top: 10%;
    animation-delay:7s;
    -webkit-animation-delay:7s;
    -moz-animation-delay: 7s;
    animation: moveCloud 30s ease-in-out infinite;
    -webkit-animation: moveCloud 30s ease-in-out infinite;
    -moz-animation: moveCloud 30s ease-in-out infinite;
  }
  @keyframes moveCloud {
    0% {
      transform: translate(0px);
    }
    50% {
      transform: translate(50px);
    }
    100% {
      transform: translate(0px);
    }
  }
  @-webkit-keyframes moveCloud {
    0% {
      transform: translate(0px);
    }
    50% {
      transform: translate(50px);
    }
    100% {
      transform: translate(0px);
    }
  }
  @-moz-keyframes moveCloud {
    0% {
      transform: translate(0px);
    }
    50% {
      transform: translate(50px);
    }
    100% {
      transform: translate(0px);
    }
  }
  #trouble-sommeil{
    width: 100%;
    text-align: right;
  }
  h2 {
    display: inline-block;
    font-family: 'Azo Sans', sans-serif;
    font-weight: normal;
    font-size: 3.5vw;
    text-align: right;
    margin: 10px 0 45px 0;
    padding: 12px 0 ;
    border-top: solid 1px $violet;
    border-bottom: solid 1px $violet;
  }

  .home-section p{
    font-size: 18px;
    text-align: left;
    max-width: 70%;
    font-weight: 500;
  }
  .bar-container canvas{
    width: 50% !important;
    height: auto!important;
    min-width: 600px;
  }
  .bar-container .number {
    font-size: 3rem;
    margin: 0 15px;
    text-align: start;
    border-top: 1px solid $light;
  }

  .home-middle-banner.col-12.my-5.py-4 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row wrap;
    color: $light;
    width: 100%;
    background-color: $bleunuit;
    border-top: 1px solid $light;
    border-bottom: 1px solid $light;
  }
  .home-middle-banner.col-12.my-5.py-4 .col-4{
    min-width: 250px;
    padding: 10px;
    text-align: center;
  }

  .doughnut-container canvas{
    width: 100% !important;
    height: auto!important;
  }
  .home-section p{
    display: flex;
    align-items: center;
  }
}
/*
PAGE EFFETS SUR LE CORPS
 */
#effect {
  position: relative;
  background-color:$bleusombre;
}
.effect-content{
  padding: 0;
  color: $violet;
  .effect-first-content{
    padding-left: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 495px;
    height: 48.8vw;
    z-index: 1;
  }
  .woman {
    text-align: center;
  }
  .woman img{
    max-width: 40%;
    min-width: 20%;
  }
  #title{
    width: 100%;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .effect-first-content h1{
    display: inline-block;
    font-family: 'Azo Sans', sans-serif;
    font-weight: normal;
    font-size: 5vw;
    text-align: right;
    margin: 10px 0 15px 0;
  }
  .effect-first-content .subtitle{
    width: 20vw;
    height: 10px;
    background: $violet;
  }
  .effect-first-content ul li{
    font-size: 15px;
    text-align: justify;
    margin: 15px 0;
  }
}
/*
PAGE DASHBOARD
 */
#dashboard {
  position: relative;
  background-color: #0f1025;
  min-height: 100vh;
}
.dashboard-content {

  .dashboard-first-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 25px;
    height: 100vh;

    h1{
      font-size: 3.5rem;
      color: #4e508d;
    }

    h2{
      font-size: 3.5rem;
      font-weight: 600;
      color: #4e508d;
    }

    a{
      font-size: 2.5rem;
      margin: 0 30px 0 0;
      padding: 0 8px;
      border-bottom: solid 3px #f2889b;
      color: #f2889b;
    }

    a:hover{
      text-decoration: none;
    }
  }

  .dashboard-section {

    h5 {
      font-size: 3.5rem;
      color: #4e508d;
      width: 100%;
    }
    button {
      font-size: 1.8rem;
      background-color: transparent;
      border: none;
      padding: 4px 8px;
      color: #f2889b;
      margin-left: 30px;
      text-align: left;
    }

    .btn-pink {
      font-size: 1.8rem;
      background-color: transparent;
      border: solid 1px #f2889b;
      padding: 4px 8px;
      color: #f2889b;
    }
    span {
      font-size: 1.8rem;
      color: #f2889b;
    }

    p{
      font-size: 18px;
      color: #4e508d;
    }

  }

  .gauge-content {

    display: block;

    .gauge {
      display: inline-block;
      padding: 50px;
      border-radius: 50%;
      border: solid 15px #f2889b;
    }

    .gauge span{
      font-size: 2rem;
      font-weight: 800;
      color: #f2889b;
    }
  }

  .dashboard-alert {
    button {
      font-size: 1.8rem;
      background-color: transparent;
      border: none;
      padding: 4px 8px;
      color: #f2889b;
      margin-left: 30px;
    }
  }


}

#body {
  position: relative;
  background-color: #0f1025;
}

.body-content {
  padding-top: 110px;

  h1 {
    font-size: 2.8rem;
    font-weight: 600;
    color: #4e508d;
    margin: 30px 0;
  }

  p {
    font-size: 1.3rem;
    font-weight: 400;
    color: #4e508d;
  }

  .container-img {
    display: flex;
    position: relative;
    height: calc(100vh - 110px);
    img {
      position: relative;
      height: 100%;
      margin: auto;
    }
    .block {
      position: absolute;
      width: 20px;
      height: 20px;
      background-color: #f2889b;
      transition: all 1s ease-in-out;
      display: none;
    }
    .block-1 {
      top: 50%;
      left: 50%;
    }
    .block-2 {
      top: 30%;
      left: 50%;
    }
    .block-3 {
      top: 30%;
      left: 40%;
    }
    .text-block {
      position: absolute;
      top: 0;
      left: 20px;
      padding: 15px;
      background-color: white;
      color: black;
      transition: all 1s ease-in-out;
    }
  }
}

#quiz {
  background-color: #0f1025;

  .container-quiz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 110px);
    margin-top: 110px;
    color: white;
  }

  #quiz-progressBar {
    max-width: 600px;
    margin: 10px auto 0;
    padding: 0;
    line-height: 1;
    counter-reset: step;
    li {
      list-style-type: none;
      color: #f2889b;
      text-transform: uppercase;
      font-size: 12px;
      width: auto;
      float: left;
      position: relative;
      letter-spacing: 1px;
    }
    li.after {
      width: 50px;
    }
    li:before {
      content: "";
      counter-increment: step;
      display: block;
      background-color: #0f1025;
      width: 13px;
      height: 13px;
      line-height: 1;
      text-align: center;
      font-weight: 700;
      border: 1px solid #f2889b;
      border-radius: 50%;
      z-index: 1;
      position: relative;
    }
    li.after:after {
      content: "";
      width: 100%;
      height: 1px;
      background: #f2889b;
      position: absolute;
      left: 0;
      top: 6px;
    }
    li.active:before, li.active:after{
      background: #f2889b;
      color: #fff;
    }
  }

  .quiz-previous{
    display: inline-block;
    width: 100%;
    max-width: 600px;
    margin: 50px auto 10px;
    transition: opacity 1s ease-in-out;
    border-bottom: 0;
    text-align: center;
    button {
      border: none;
      background-color: transparent;
    }
    img {
      height: 18px;
    }
    span {
      color: white;
      font-size: 14px;
      display: inline-block;
      width: auto;
      text-align: center;
      border-bottom: 1px solid white;
      margin-left: 12px;
      text-transform: uppercase;
    }
  }

  .quiz-previous.fake {
    display: block;
    min-height: 28px;
  }

  .questions{
    width: 100%;
    text-align: center;
    color: white;
    transition: all 0.5s;

    span.title{
      display: block;
      font-size: 1.875rem;
      font-weight: 700;
      padding: 0 10px;
      margin: 40px auto 70px;
    }
    .choices{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .quiz-response {
        width: 20%;
        min-width: 200px;
        border: 1px solid white;
        font-size: 1rem;
        padding: 16px 25px;
        text-align: center;
        line-height: 1.1;
        background-color: transparent;
        color: white;
        cursor: pointer;
        margin: 0 8px 30px;
        transition: all 0.3s;
      }
      .quiz-response:hover {
        color: black;
        background-color: white;
      }
    }
  }}
#results {
  min-height: 100vh;
  background-color: #0f1025;
  display: flex;
  justify-content: center;
}
.container-results{
  display: flex;
  flex-direction: column;
  max-width: 90vw;
  margin-top: 110px;
}
.top-results{
  display: flex;
  height: 38vh;
  margin-top: 2vh;
  margin-bottom: 6vh;
}
.left-results{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}
.title-results{
  font-size: 2.6rem;
  color: #4e508d;
  text-align: left;
  letter-spacing: 11px;
  font-weight: bold;
}
.separate{
  height: 1px;
  width: 50%;
  background-color: #4e508d;
}
.reveal-results{
  color: #4e508d;
  font-size: 1rem;
  margin-top: 5vh;
  letter-spacing: 7px;
  margin-top: 5vh;
}
.container-icon{
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon{
  width: auto;
  height: 100%;
}
.content-results{
  color: #4e508d;
  margin-bottom: 3vh;
}
.conseil-results{
  color: #4e508d;
  margin-bottom: 5vh;
  font-weight: bold;

}
.retour{
  width: 100%;
  display: flex;
  justify-content: center;
}
.btn {
  margin-bottom: 3vh;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 1.8vh;
  padding-top: 1.8vh;
  padding-left: 5vh;
  padding-right: 5vh;
  font-size: 3vw;
  color:#f2889b;
  border: 1.5px solid#f2889b;
  border-radius: 8px 10px;
  font-family: "Gotham Bold";
  text-transform: uppercase;
  cursor: pointer;

  @media only screen and (min-width: 768px) {
    font-size: 1.5vh;
  }
}
.btn:hover {
  // background-color:#f2889b;
  color: #4e508d;
  border: 1.5px solid#4e508d;

}
