

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    background-color: #0f1025;

    img {
        width: 100px;
    }

    .links {
        justify-items: flex-end;
        a {
            color: #724559;
            margin: 0 15px;
        }
    }
}

#home {
    position: relative;
    background-color: #0f1025;

    .home-content{

    }
}

.home-content {

    color: #4e508d;

    .home-first-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      margin-left: 25px;
        height: 100vh;
    }
    .home-first-content h1{
      width: 100%;
        font-size: 5rem;
        color: #4e508d;
        text-align: left;
      letter-spacing: 11px;
    }

    .home-first-content h5{
        font-size: 20px;
        text-align: left;
    }

    h2 {
      display: inline-block;
      font-size: 3rem;
      text-align: right;
      margin: 10px 0 45px 0;
      padding: 12px 0 ;
      border-top: solid 1px #4e508d;
      border-bottom: solid 1px #4e508d;
    }

    .home-section p{
      font-size: 18px;
      text-align: left;
      max-width: 70%;
      font-weight: 500;
    }

    .homme-middle-banner {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #0f1025;
      background-color: #4e508d;
    }

    .bar-container canvas{
      width: 50% !important;
      height: auto!important;
    }

    .bar-container .number {
      font-size: 5rem;
      margin: 0 15px;
    }

    .doughnut-container canvas{
      width: 100% !important;
      height: auto!important;
    }
}