$bleusombre: #0F1025;
$bleunuit: #161C40;
$light: #F2F0CE;
$violet: #4e508d;

$rose: #cf9da9;
$beige: #E9C2C2;
$bleu: #46556C;
$noir: #1d1d26;
$gris: #303A43;

* {
  margin: 0;
  padding: 0;
}

*::after, *::before {
  box-sizing: border-box;
}

html, body{
  margin: 0;
  padding: 0;
  background: #f2f2f2;
  overflow-x: hidden;
  font-family: 'Azo Sans', sans-serif;
}


/*
HEADER & FOOTER
 */
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: $beige;
  padding: 10px;
  box-shadow: 1px 5px 5px rgba(1, 1, 5, 0.03);
  #logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    img {
      width: 50px;
    }
    h2{
      margin: 0 10px;
      text-transform: uppercase;
      font-weight: bold;
      color: $gris;
      letter-spacing: .2vw;
    }
  }
  .links {
    justify-items: flex-end;
    a {
      color: $gris;
      margin: 0 15px;
      font-family: 'Azo Sans', sans-serif;
      font-weight: bold;
      text-decoration: none;
      transition: 0.1s;
      transition-delay: 0.1s;
      &:hover {
        color: #f2f2f2;
        transition: 0.1s;
        transition-delay: 0.1s;
      }
    }
    .connexion{
      background: #f2f2f2;
      color: $gris;
      padding: 5px 15px;
      border-radius: 20px;
      cursor: pointer;
      transition: 0.2s;
      &:hover{
        background: $gris;
        color: #f2f2f2;
        transition: 0.2s;
      }
    }
  }
}
#footer {
  position: inherit;
  bottom: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: $beige;
  padding: 10px 15px;

  .footer-morphee{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .footer-morphee img{
    width: 80px;
  }
  .footer-morphee h2{
    font-family: 'Azo Sans', sans-serif;
    font-weight: bold;
    font-size: 3.5vw;
    color: $gris;
    letter-spacing: .2vw;
    margin: 0 10px;
  }
  .social-icons{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    width: 12%;
  }
  .social-icons a{
    padding: 5px;
  }
}
/*
PAGE D'ACCUEIL
 */
#home {
  position: relative;
  background: $beige;

}
.home-content {
  padding: 0;
  color: $gris;

  .home-first-content {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-height: 495px;
    height: 48.8vw;
    z-index: 1;
    h1{
      width: 100%;
      font-family: 'Azo Sans', sans-serif;
      font-weight: bold;
      font-size: 5vw;
      color: $gris;
      text-align: left;
      padding-left: 3rem;
    }
    h5{
       font-size: 20px;
       text-align: justify;
       padding-left: 3rem;
        margin: 40px 0;
     }
    a{
      background: #f2f2f2;
      border-radius: 30px;
      text-decoration: none;
      color: $gris;
      font-weight: bold;
      font-size: 18px;
      text-align: center;
      padding: 10px 30px;
      width: max-content;
      margin-left: 3rem;
      &:hover{
        background: $gris;
        color: #f2f2f2;
        transition: 0.2s;
      }
    }
  }
  .cloud1{
    opacity: 0.5;
    max-width: 1000px;
    width: 60%;
    z-index: 0;
    position: absolute;
    right: -50px;
    top: 406px;
    animation: moveCloud 40s linear infinite;
    -webkit-animation: moveCloud 40s linear infinite;
    -moz-animation: moveCloud 40s linear infinite;
  }
  .cloud2{
    opacity: 0.25;
    max-width: 700px;
    width: 50%;
    z-index: 0;
    position: absolute;
    left: -10%;
    top: 10%;
    animation-delay:7s;
    -webkit-animation-delay:7s;
    -moz-animation-delay: 7s;
    animation: moveCloud 30s ease-in-out infinite;
    -webkit-animation: moveCloud 30s ease-in-out infinite;
    -moz-animation: moveCloud 30s ease-in-out infinite;
  }
  @keyframes moveCloud {
    0% {
      transform: translate(0px);
    }
    50% {
      transform: translate(50px);
    }
    100% {
      transform: translate(0px);
    }
  }
  @-webkit-keyframes moveCloud {
    0% {
      transform: translate(0px);
    }
    50% {
      transform: translate(50px);
    }
    100% {
      transform: translate(0px);
    }
  }
  @-moz-keyframes moveCloud {
    0% {
      transform: translate(0px);
    }
    50% {
      transform: translate(50px);
    }
    100% {
      transform: translate(0px);
    }
  }
  #trouble-sommeil{
    width: 100%;
    text-align: right;
  }
  h2 {
    display: inline-block;
    font-family: 'Azo Sans', sans-serif;
    font-weight: normal;
    font-size: 3.5vw;
    text-align: right;
    margin: 10px 0 45px 0;
    padding: 12px 0 ;
    color: $gris;
    border-top: solid 2px $gris;
    border-bottom: solid 2px $gris;
  }

  .home-section {
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 1px rgba($gris, 0.1);
    flex-flow: column-reverse;
    p {
      font-size: 18px;
      text-align: justify;
      font-weight: 500;
      max-width: 900px;
      padding: 0 50px;
    }
  }
  .barline {
    flex-flow: column;
  }
  .bar-container{
    max-width: 660px;
    background: #f2f2f2;
    canvas{
      width: 50% !important;
      height: auto!important;
      min-width: 650px;
    }
    .number {
       font-size: 3rem;
       margin: 0 15px;
       text-align: start;
       border-top: 1px solid $gris;
     }
  }

  .home-middle-banner.col-12.my-5.py-4 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row wrap;
    color: #f2f2f2;
    width: 100%;
    background-color: $bleu;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    margin: 0 !important;
  }
  .home-middle-banner.col-12.my-5.py-4 .col-4{
    min-width: 250px;
    padding: 10px;
    text-align: center;
  }

  .doughnut-section{
    background: $rose;
    .chart-legend {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .doughnut-container{
        display: flex;
        flex-flow: row;
        justify-content: center;
        canvas {
          width: 50% !important;
          min-width: 600px;
        }
      }
    }
    p{
      min-width: 100%;
      margin-bottom: 50px;
    }
  }
  .home-section p{
    color: $gris;
    text-align: justify;
  }
}

.sommeil-monde{
  display: flex;
  flex-direction: column;
  h2{
    width: max-content;
  }
  .iframe{
    text-align: center;
    width: 100%;
  }
}
/*
PAGE EFFETS SUR LE CORPS
 */
#effect {
  position: relative;
  background-color: $beige;
}
.effect-content{
  padding: 0;
  color: $gris;
  .effect-first-content{
    padding-left: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 495px;
    height: 48.8vw;
    z-index: 1;
  }
  .woman {
    text-align: center;
  }
  .woman img{
    max-width: 40%;
    min-width: 20%;
  }
  #title{
    width: 100%;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .effect-first-content h1{
    display: inline-block;
    font-family: 'Azo Sans', sans-serif;
    font-weight: normal;
    font-size: 5vw;
    text-align: right;
    margin: 10px 0 15px 0;
  }
  .effect-first-content .subtitle{
    width: 20vw;
    height: 10px;
    background: $gris;
  }
  .effect-first-content ul li{
    font-size: 15px;
    text-align: justify;
    margin: 15px 0;
  }
}
/*
PAGE DASHBOARD
 */
#dashboard {
  position: relative;
  background-color: $beige;
  min-height: 100vh;
}
.dashboard-content {

  .dashboard-first-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3rem;
    height: 100vh;

    h1{
      font-size: 3.5rem;
      color: $gris;
    }

    h2{
      font-size: 3.5rem;
      font-weight: 600;
      color: $gris;
    }

    a{
      font-size: 2.5rem;
      margin: 0 30px 0 0;
      padding: 0 8px;
      border-bottom: solid 3px #f2f2f2;
      color: #f2f2f2;
    }

    a:hover{
      text-decoration: none;
    }
  }

  .dashboard-section {

    h5 {
      font-size: 3.5rem;
      color: $gris;
      width: 100%;
      margin-left: 3rem;
    }
    button {
      background: #f2f2f2;
      color: $gris;
      padding: 5px 15px;
      border-radius: 20px;
      cursor: pointer;
      transition: 0.2s;
      border: none;
      &:hover{
        background: $gris;
        color: #f2f2f2;
        transition: 0.2s;
      }
    }

    .btn-pink {
      background: $gris;
      color: #f2f2f2;
      padding: 5px 15px;
      border-radius: 20px;
      cursor: pointer;
      transition: 0.2s;
      border: none;
      margin-left: 50px;
      &:hover{
        background: #f2f2f2;
        color: $gris;
        transition: 0.2s;
      }
    }
    span {
      font-size: 1.8rem;
      color: $rose;
    }

    p{
      font-size: 18px;
      color: $gris;
    }

  }

  .gauge-content {

    display: block;

    .gauge {
      display: inline-block;
      padding: 50px;
      border-radius: 50%;
      border: solid 15px $rose;
    }

    .gauge span{
      font-size: 2rem;
      font-weight: 800;
      color: $rose;
    }
  }

  .dashboard-alert {
    button {
      background: #f2f2f2;
      color: $gris;
      padding: 5px 15px;
      border-radius: 20px;
      cursor: pointer;
      transition: 0.2s;
      border: none;
      margin-left: 50px;
      &:hover{
        background: $gris;
        color: #f2f2f2;
        transition: 0.2s;
      }
    }
  }


}

#body {
  position: relative;
  background-color: $beige;
}

.body-content {
  padding-top: 110px;
  padding-left: 25px;
  padding-right: 25px;

  h1 {
    font-size: 2.4rem;
    font-weight: 400;
    color: $gris;
    margin: 30px 0;
  }

  form {
    margin-top: 40px;
    margin-left: 25px;

    label {
      font-size: 18px;
      font-weight: 600;
      display: block;
      margin-top: 30px;
    }
    select {
      border: solid 1px #46556C;
      padding: 8px 14px;
      background: transparent;
    }
    .submit {
      display: none;
    }
  }

  .container-effect {
    display: flex;
    justify-content: center;
    margin: 50px 25px 40px 25px;

    .container-img {
      width: 40%;
    }

    .slider-left {
        width: 60%;

      .slider-effect {
        transition: height 500ms ease-in-out;
      }
      .slider-2, .slider-3 {
        opacity: 0;
        height: 0;
      }

      .slick-slide {
        padding: 0 15px;
      }

      .sub-container {
        margin-bottom: 10px;
        span {
          display: block;
          margin-bottom: 3px;
        }
      }

      p {
        font-size: 13px;
        font-weight: 400;
      }

      .slick-arrow {
        z-index: 999;
      }

      .slick-arrow:before {
        color: #46556C!important;
      }

      .slick-dots li.slick-active button::before {
        color: #46556C!important;
      }

    }

    .slider-right {
      width: 40%;

      img {
        position: relative;
        max-height: 500px;
        margin: 0 auto;
      }
      .block {
        position: absolute;
        width: 25px;
        height: 25px;
        background-color: $rose;
        transition: all 1s ease-in-out;
        border-radius: 50px;
      }
      .block:before {
        content: "";
        background-color: $rose;
        width: 20px;
        height: 20px;
        position: absolute;
        border-radius: 50px;
        left: calc(50% - 10px);
        top: calc(50% - 10px);
        border: solid 4px #171d3e;
      }
      //.block:after {
      //  content: "";
      //  background-color: $rose;
      //  width: 25px;
      //  height: 25px;
      //  position: absolute;
      //  border-radius: 50px;
      //  left: calc(50% - 12px);
      //  top: calc(50% - 12px);
      //}
      .block-1 {
        top: 11%;
        left: 47%;
      }
      .block-2 {
        top: 30%;
        left: 47%;
      }
      .block-3 {
        top: 11%;
        left: 47%;
      }
    }
  }

  .container-img {
    display: flex;
    position: relative;
    img {
      position: relative;
      max-height: 500px;
      margin: 0 auto;
    }
    .block {
      position: absolute;
      width: 20px;
      height: 20px;
      background-color: $rose;
      transition: all 1s ease-in-out;
      display: none;
    }
    .block-1 {
      top: 15%;
      left: 50%;
    }
    .block-2 {
      top: 30%;
      left: 50%;
    }
    .block-3 {
      top: 50%;
      left: 50%;
    }
    .text-block {
      position: absolute;
      top: 0;
      left: 20px;
      padding: 15px;
      background-color: white;
      color: $gris;
      transition: all 1s ease-in-out;
      min-width: 300px;
      p {
        width: 100%;
      }
    }
  }
}

#quiz {
  background-color: $beige;

  .container-quiz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #f2f2f2;
  }

  #quiz-progressBar {
    max-width: 600px;
    margin: 10px auto 0;
    padding: 0;
    line-height: 1;
    counter-reset: step;
    li {
      list-style-type: none;
      color: $rose;
      text-transform: uppercase;
      font-size: 12px;
      width: auto;
      float: left;
      position: relative;
      letter-spacing: 1px;
    }
    li.after {
      width: 50px;
    }
    li:before {
      content: "";
      counter-increment: step;
      display: block;
      background-color: $bleu;
      width: 13px;
      height: 13px;
      line-height: 1;
      text-align: center;
      font-weight: 700;
      border: 1px solid $rose;
      border-radius: 50%;
      z-index: 1;
      position: relative;
    }
    li.after:after {
      content: "";
      width: 100%;
      height: 1px;
      background: $rose;
      position: absolute;
      left: 0;
      top: 6px;
    }
    li.active:before, li.active:after{
      background: $rose;
      color: #f2f2f2;
    }
  }

  .quiz-previous{
    display: inline-block;
    width: 100%;
    max-width: 600px;
    margin: 50px auto 10px;
    transition: opacity 1s ease-in-out;
    border-bottom: 0;
    text-align: center;
    button {
      border: none;
      background-color: transparent;
    }
    img {
      height: 18px;
    }
    span {
      color: #f2f2f2;
      font-size: 14px;
      display: inline-block;
      width: auto;
      text-align: center;
      border-bottom: 1px solid #f2f2f2;
      margin-left: 12px;
      text-transform: uppercase;
    }
  }

  .quiz-previous.fake {
    display: block;
    min-height: 28px;
  }

  .questions{
    width: 100%;
    text-align: center;
    color: white;
    transition: all 0.5s;

    span.title{
      display: block;
      font-size: 1.875rem;
      font-weight: 700;
      padding: 0 10px;
      margin: 40px auto 70px;
    }
    .choices{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .quiz-response {
        width: 20%;
        min-width: 200px;
        border: 1px solid #f2f2f2;
        font-size: 1rem;
        padding: 16px 25px;
        text-align: center;
        line-height: 1.1;
        background-color: transparent;
        color: #f2f2f2;
        cursor: pointer;
        margin: 0 8px 30px;
        transition: all 0.3s;
      }
      .quiz-response:hover {
        color: $noir;
        background-color: #f2f2f2;
      }
    }
  }}
#results {
  min-height: 100vh;
  background-color: $beige;
  display: flex;
  justify-content: center;
}
.container-results{
  display: flex;
  flex-direction: column;
  max-width: 90vw;
  margin-top: 110px;
}
.top-results{
  display: flex;
  height: 38vh;
  margin-top: 2vh;
  margin-bottom: 6vh;
}
.left-results{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}
.title-results{
  font-size: 2.6rem;
  color: $bleu;
  text-align: left;
  letter-spacing: 11px;
  font-weight: bold;
}
.separate{
  height: 1px;
  width: 50%;
  background-color: $bleu;
}
.reveal-results{
  color: $bleu;
  font-size: 1rem;
  margin-top: 5vh;
  letter-spacing: 7px;
  margin-top: 5vh;
}
.container-icon{
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon{
  width: auto;
  height: 100%;
}
.content-results{
  color: $bleu;
  margin-bottom: 3vh;
  max-width: 650px;
}
.conseil-results{
  color: $bleu;
  margin-bottom: 5vh;
  font-weight: bold;
  max-width: 650px;

}
.retour{
  width: 100%;
  display: flex;
  justify-content: center;
}
.btn {
  margin-bottom: 3vh;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  text-decoration: none;
  display: inline-block;
  padding: 1.8vh 5vh;
  font-size: 3vw;
  color: $rose;
  border: 1.5px solid $rose;
  border-radius: 8px 10px;
  font-family: "Gotham Bold";
  text-transform: uppercase;
  cursor: pointer;

  @media only screen and (min-width: 768px) {
    font-size: 1.5vh;
  }
}
.btn:hover {
  // background-color:#f2889b;
  color: $bleu;
  border: 1.5px solid $bleu;

}
